canvas {
	margin: 10px;
}

body {
	background-color: grey;
}

#container {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
}

.button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}