@font-face {
	font-family: 'arcade';
	src: url("../font/arcadeclassic.ttf");
}

body {
	font-family: 'arcade';
}

#container {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	margin-top: 20px;
}

.player-container {
	width: 500px;
	margin: 0 30px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-family: 'arcade';
	font-size: 40px;
	margin-bottom: 500px;
	width: 250px;
}

#menu {
	display: flex;
	flex-direction: column;
}

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	filter: brightness(50%);
}

.avatar {
	height: 100px;
	font-size: 40px;
	color: red;
	margin-bottom: 20px;
	position: relative;
}

.avatar img {
	height: 100%;
}

.avatar .name {
	position: absolute;
	top: 0;
	left: 100px;
}

.avatar span {
	position: absolute;
	top: 0;
	right: 0;
}

.avatar progress[value] {
	position: absolute;
	bottom: 0;
	appearance: none;
	box-shadow: 0px 0px 20px 10px rgba(255, 0, 0, 0.295);
	border-radius: 30px;
}